.Header{
  width: 1350px;
  height: 70vh;
  background-image: url(https://3.bp.blogspot.com/-B8CMfuuA6bw/Uj35Hq_4l7I/AAAAAAAABVA/EXVvlGtxwEo/s1600/imageneshilandy.blogspot.com+-+Demi+Lovato+-+Cantando+-+Wallpapers.jpg);
}

#search-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 1140px;
  display: flex;
}

.Logo {
  bottom: 80px;
  margin-left: 150px;
  background-color: rgb(220,220,220);
  width: 100px;
  border-radius: 60px;
  font-family: Chelsea Market, cursive;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.150em;
  padding: 10px 20px;
}

.Header input {
  padding: 5px;
  border-radius: 60px;
  width: 350px;
  margin: 0 20px;
  font-size: 20px;
  font-family: Playfair Display;
}